.content {
  z-index: 50;
  width: fit-content;
  border-radius: var(--radius-md);
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  background-color: var(--foreground);
  color: var(--background);
  text-wrap: balance;
}

.arrow {
  z-index: 50;
  width: 0.625rem;
  height: 0.625rem;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-radius: 2px;
  background-color: var(--foreground);
  fill: var(--foreground);
}
